@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';
@theme {
  --breakpoint-xs: 20rem;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('./MuseoSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'MuseoSans', sans-serif;
}
