@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';
@theme {
  --breakpoint-xs: 325px;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('/src/core/assets/fonts/MuseoSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'MuseoSans', sans-serif;
  @apply text-primary-600
}
