@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';
@theme {
  --breakpoint-xs: 325px;
}

@font-face {
  font-family: 'MuseoSans';
  src: url('/src/core/assets/fonts/MuseoSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'MuseoSans', sans-serif;
  @apply text-primary
}


*::-webkit-scrollbar {
  @apply w-1.5 bg-transparent h-1;
}

::-webkit-scrollbar-track {
  @apply bg-surface-200 rounded-full;
}

*::-webkit-scrollbar-thumb {
  @apply bg-primary-950 rounded-xl;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-surface-600;
}


